<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Blog Sign-In Page</title>
    </head>
    <body>
        <center>
            {% if error_message %}<p><strong>{{ message }}</strong></p>{% endif %}

            <h1>Welcome to the Blog Sign-In Page!</h1><br><br>

            <form action="{% url 'blogs:signin' %}" method="post">
                {% csrf_token %}
                <label for="user_name">Username: </label><br>
                <input type="text" id="user_name" name="user_name" onfocus="this.value=''" required><br>
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Sign-In">
            </form>
            <button><a href="{% url 'blogs:signuppage' %}">Sign-Up</a></button>
        </center>
    </body>
</html>