<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Blog Sign-Up Page</title>
    </head>
    <body>
        <center>
            {% if request.session.error_message %}<p><strong>{{ request.session.error_message }}</strong></p>{% endif %}

            <h1>Welcome to the Blog Sign-Up Page!</h1><br><br>

            <form action="{% url 'blogs:signup' %}" method="post">
                {% csrf_token %}
                <label for="user_name">Username: </label><br>
                <input type="text" id="user_name" name="user_name" required><br>
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Sign-Up">
            </form>
            <button><a href="{% url 'blogs:index' %}">Cancel</a></button>
        </center>
    </body>
</html>