<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to The Blog!</title>
    </head>
    <body>
        <center>
            <h1>Welcome to the Blog {{ request.session.user_name }}!</h1><br><br>
        </center>
    </body>
</html>